@(question: Question, form: Form[QuestionForm.Data], current: Int, total: Int)(implicit requestHeader: RequestHeader)

@main(s"Question $current/$total [${question.name}]") {
    <div class="header">
        <div class="title">Question @current/@total [@question.name]</div>
    </div>
    @if(form.hasGlobalErrors) {
    <div class="errors">
      @form.globalErrors.map { (error: FormError) =>
        <div>@error.key: @error.message</div>
      }
    </div>
    }
    @if(question.imageURL.nonEmpty) {
        <div class="figure"><img src="/assets/images/@{question.imageURL.get}"/></div>
    }
    <div class="question">@question.text</div>
    @helper.form(action = routes.HomeController.scoreQuestion()) {
        @helper.CSRF.formField
        <div class="answers">
        @for(answer <- question.answers) {
            <div>
                <input type="radio" id="@answer.id" name="answerId" value="@answer.id"/>
                <label for="@answer.id">@answer.text</label>
            </div>
        }
        </div>
        <button class="quit" onclick="window.location.href = '/';">Quit</button>
        <input type="submit" class="button" value="Submit"/>
    }
}
